version: 2
updates:

  # Enable version updates for nuget
  - package-ecosystem: "nuget"
    # Look for NuGet dependency info from the `root` directory
    directory: "/"
    # Check the nuget registry for updates every week:
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "AWSSDK.S3"
        versions: [">= 3.7.411.7"]

  - package-ecosystem: "dotnet-sdk"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "gitsubmodule"
    directory: "/"
    schedule:
      interval: "weekly"
