version: 2
updates:

  # Enable version updates for nuget (Fronter.NET)
  - package-ecosystem: "nuget"
    directory: "/Fronter.NET"
    # Check the nuget registry for updates every week:
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "AWSSDK.S3"
        versions: [">= 3.7.411.7"]

  # Enable version updates for nuget (Fronter.NET.Tests)
  - package-ecosystem: "nuget"
    directory: "/Fronter.NET.Tests"
    # Check the nuget registry for updates every week:
    schedule:
      interval: "weekly"

  - package-ecosystem: "dotnet-sdk"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "gitsubmodule"
    directory: "/"
    schedule:
      interval: "weekly"
